@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;700&family=Noto+Sans:ital,wght@0,100;0,400;0,800;1,100;1,400;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #ffffff;
  background-color: #181818;
  font-family: "Noto Sans", sans-serif;
  padding: 1rem;
}
body ul {
  list-style: none;
}

header {
  margin-bottom: 2rem;
}
header h1 {
  text-shadow: #740808 0 0 15px, #740808 0 0 15px, #740808 0 0 20px;
  text-align: center;
}

main {
  text-align: center;
  color: #ffffff;
}
main .select {
  margin-bottom: 1rem;
}
main .select #region {
  margin: 1rem 0;
  background-color: #181818;
  color: #ffffff;
  border-style: none;
  border-radius: 1rem;
  -webkit-box-shadow: #ffffff 0 0 2.5px, #ffffff 0 0 2.5px, #ffffff 0 0 5px;
          box-shadow: #ffffff 0 0 2.5px, #ffffff 0 0 2.5px, #ffffff 0 0 5px;
}
main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}
main .container .card {
  border: 5px solid #ffffff;
  border-radius: 1rem;
  -webkit-box-shadow: #740808 0 0 10px, #740808 0 0 10px, #740808 0 0 15px;
          box-shadow: #740808 0 0 10px, #740808 0 0 10px, #740808 0 0 15px;
  width: 75%;
}
main .container .card .player img {
  width: 70%;
}
main .container .card .player h4 {
  font-weight: 800;
  text-shadow: #740808 0 0 15px, #740808 0 0 15px, #740808 0 0 20px;
}
main .container .card .specs {
  padding: 1rem;
}

footer {
  padding-top: 1rem;
  text-align: center;
}
footer p {
  padding-bottom: 0.5rem;
}

@media (min-width: 321px) and (max-width: 780px) {
  .card {
    max-width: 15rem;
  }
}
@media (min-width: 781px) {
  .card {
    max-width: 15rem;
  }
}