@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;700&family=Noto+Sans:ital,wght@0,100;0,400;0,800;1,100;1,400;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: $secondary;
    background-color: #181818;
    font-family: $font;
    ul{
        list-style: none;
    }
    padding: 1rem;
}
header{
    margin-bottom: 2rem;
    h1{
    text-shadow: 
    $primary 0 0 15px,
    $primary 0 0 15px,
    $primary 0 0 20px;
    text-align: center;
    }
}
main{
    text-align: center;
    color: $secondary;
    .select{
        margin-bottom: 1rem;
        
        #region{
            margin: 1rem 0;
            background-color: #181818;
            color: $secondary;
            border-style: none;
            border-radius: 1rem;
            box-shadow: 
                        $secondary 0 0 2.5px,
                        $secondary 0 0 2.5px,
                        $secondary 0 0 5px;;
        }
    }
    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
        .card{
            border: 5px solid $secondary;
            border-radius: 1rem ;
            box-shadow: 
                        $primary 0 0 10px,
                        $primary 0 0 10px,
                        $primary 0 0 15px;;
            width: 75%;
            .player{
                img{
                width: 70%;
                }
                h4{
                    font-weight: 800;
                    text-shadow: 
                                $primary 0 0 15px,
                                $primary 0 0 15px,
                                $primary 0 0 20px;
                }
            }
            .specs{
                padding: 1rem;
            }
    }
    }
}
footer{
    padding-top: 1rem;
    text-align: center;
    p{
        padding-bottom: .5rem;
    }
}
@media (min-width: 321px) and (max-width : 780px)  {
    .card{
        max-width: 15rem;
    }
}
@media (min-width: 781px){
    .card{
        max-width: 15rem;
    }
}